[user]
	name = smison
	email = kinn.ginn.sunago@gmail.com
[color]
	ui = auto
	status = auto
	diff = auto
	branch = auto
	interactive = auto
	grep = auto
[alias]
	st = status
	fix = commit --amend
[core]
	editor = vim
	autocrlf = false
[diff]
	patience = true
